* {margin:0;padding:0;}

#Navigation_bar {
	width:1349px;
	height:40px;

}

/* 导航模块 */
#Navigation_bar #modular-Navigation_bar {
	width:1150px;
	height:40px;

	position:absolute;
	margin-left:100px;
}

/* MS —— LOGO图 */
#Navigation_bar #modular-Navigation_bar #MS_LoGo {
	width:100px;
	height:50px;
	float:left;
}

/* 导航 */
#Navigation_bar #modular-Navigation_bar #Navigation {
	width:400px;
	height:40px;
	float:left;
}

/* 导航、用户列表   视频分区列表 */
#Navigation_bar #modular-Navigation_bar #Navigation ul,#Navigation_bar #User_modular ul,Video_list ul {
	list-style:none;
	margin:0;padding:0;		
}

#Navigation_bar #modular-Navigation_bar #Navigation ul li,#Navigation_bar #User_modular ul li {
	display: block;
	float: left;
	position: relative;
	font-family:"微软雅黑";
	font-size:12px;
	height:40px;
	line-height:40px;
}

/* 导航栏 分区列表 */
#Navigation_bar #modular-Navigation_bar #Navigation ul li {
	width:55px;
	text-align:left;
}

/* 用户信息功能列表 */
#Navigation_bar #User_modular ul li {
	width:60px;
	text-align:right;
}

/* 搜索模块 */
#search_module {
	width:300px;
	height:40px;
	margin-left:540px;
	position:absolute;
	
}

/* 搜索表单块 */
#search_Form_module {
	background-color: rgba(255,255,255,0.88);
	display: block;
	margin-top:4px;
	margin-left:15px;
	width:270px;
	height: 32px;
	border-radius: 4px;
	transition: .2s background-color;
}

/* 搜索 */
#search_module input {
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
	border: 1px solid #e5e5e5;
	float: left;
	border-right: none;
	padding: 8px 10px;
	height: 32px;
	line-height: 14px;
	border-radius: 3px;
	width: 225px;
	vertical-align: top;
	color: #999;
	box-sizing: border-box;
}


/* 搜索图标按钮 */
.search-submit {
	display: block;
	float: left;
	width: 45px;
	cursor: pointer;
	height: 32px;
	background: url"(/images/base/icons.png)" ;
	margin: 0;padding: 0;border: 0;right: 0;min-width: 0;
	
}

/* 用户模块 */
#Navigation_bar #User_modular {
	width:500px;
	height:40px;
	float:right;

}